.section {
    display: inline-block;
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    height: 550px;
    vertical-align: middle;
   background-color: linen;
  

}
.section h6 {
    text-align: center;
  }


